[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
parallel = "python stress_test.py"
concurrent = "python stress_test.py"