<!DOCTYPE html>
<html lang="en">
<head>

     <title>Dashboard</title>
<!-- 

Get Ready Template

https://templatemo.com/tm-521-get-ready

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/vegas.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     


     <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
     

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     
    <style>
     
     .alert {
       padding: 20px;
       background-color: #f44336;
       color: white;
       opacity: 1;
       transition: opacity 0.6s;
       margin-bottom: 15px;
     }
     
     .alert.success {background-color: #4CAF50;}
     .alert.info {background-color: #2196F3;}
     .alert.warning {background-color: #ff9800;}
     
     .closebtn {
       margin-left: 15px;
       color: white;
       font-weight: bold;
       float: right;
       font-size: 22px;
       line-height: 20px;
       cursor: pointer;
       transition: 0.3s;
     }
     
     .closebtn:hover {
       color: black;
     }

     
     </style>

</head>

     {% if cursor == 'KEYWORD' %}
          <body onLoad="javascript:makeKeyWord()" >    
     {% else %}
          <body onLoad="javascript:makeURL()" >
     {% endif %}


     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

     


     <!-- <GRID LINE -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
      
      </button>
      <div class="countdown" >
        <a class="navbar-brand" style="position: absolute; top: 0; position: absolute; left: 10px;" href="{{ url_for('dashboard_page') }}" >Show Me Related Work</a>
        {% if not current_user.is_authenticated %}
                          <span class="Login" style="font-size: larger;">
                               
                               <a style="position: absolute; top: 5px; position: absolute; right: 0;" class="w3-button w3-indigo w3-round" href="{{ url_for('login_page') }}">Login</a>
                          </span>
                     
                     {% else %}
                     
                          <span class="Login" style="font-size: larger;">
                            
                               <a style="position: absolute; top: 5px; position: absolute; right: 0;"class="w3-button w3-indigo w3-round" href="{{ url_for('home_page') }}">Log Out</a>
                          </span>
                          
                          <span class="Login" style="font-size: larger;">
                            <a style="position: absolute; top: 5px; position: absolute; right: 100px;" class="w3-button w3-indigo w3-round" href="{{ url_for('my_profile_page') }}">Profile</a>
                       </span>
                          
                          {% endif %}
      </div>
    </div>
    </div>
  </nav>


     <!-- HOME -->
     <section id="home">
          
        <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    {% if cursor == 'URL' %}
                         <a onLoad="javascript:makeURL()" ></a>
                         <a id="warningURL">
                    {% elif cursor == 'KEYWORD'%}
                         <a onLoad="javascript:makeKeyWord()" ></a>
                         <a id="warningKeyword">
                    {% else %}
                         <a onLoad="javascript:makeAuthors()" ></a>
                         <a id="warningAuthors">
                    {% endif %}

                    <div class="col-md-12 col-sm-12">
                         
                         <div class="home-info">
                              <div class="countdown" >
                                   <span class="Login" style="font-size: medium;">
                                        <div class="w3-dropdown-hover w3-right" style="position: absolute; top: 55px; position: absolute; right: -8px;" > 
                                             <button class="w3-button w3-teal" >Search Mode</button>
                                             <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom w3-round" style="right:0">
                                             <a href="#" class="w3-bar-item w3-button w3-round" onclick="makeURL()">URL</a>
                                             <a href="#" class="w3-bar-item w3-button w3-round" onclick="makeKeyWord()">KeyWord</a>
                                             <a href="#" class="w3-bar-item w3-button w3-round" onclick="makeAuthors()">Authors</a>
                                             </div>
                                           </div>
                                   </span>
                              
                              </div>
                              {% with messages = get_flashed_messages() %}
                                   {% if messages[0] == 'Warning!' %}
                                   <div class="alert">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                        <strong>{{ messages[1] }} </strong>  
                                   </div>
                                   {% elif messages[0] == 'DELETE' %}
                                   <div class="alert info">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                        <strong>{{ messages[1] }} </strong>  
                                   </div>
                                {% endif %}
                              {% endwith %}
                              <div id="url">
                         
                              
                              <h1>Please enter the URL of ResearchGate paper that you want to search!</h1>
                              <br>
                              <!-- You can change the date time in init.js file -->
                              
                              <div class="subscribe-form">
                                <form action="" method="POST">
                                   
                                  <input type="url" name="url" class="form-control" placeholder="Enter your URL" required="" style="width: 100%;">
                                   <br>
                                <div>
                                  <button type="submit" class="w3-button w3-teal w3-round">
                                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                                      Search</strong></button>

                                   
                                   </div>
                                   
                                </form>
                                <form method="POST">
                                   <br>
                                   <button type="submit" class="w3-button w3-deep-orange w3-round" name="recommended" value="recommended">
                                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                                             Recommended Paper</strong></button>
                                </form>
                              </div>
                              </div>
                              <!------------------------------------------------------------------------------------------------------------------------->
                              <div id="keyword" style="display: none;">
          
                                   <h1>Please enter <br>the Keyword of ResearchGate paper <br> you want to search!</h1>
                                   <br>
                                   <!-- You can change the date time in init.js file -->
                                   
                                   <div class="subscribe-form">
                                     <form action="" method="POST">
                                        
                                       <input type="text" name="keyword" class="form-control" placeholder="Enter your KeyWord like IoT, AI, Smart Homes" required="" style="width: 100%;">
                                        <br>
                                     <div>
                                       <button type="submit" class="w3-button w3-teal w3-round">
                                         <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                                           Search</strong></button>
     
                                        
                                        </div>
                                        
                                     </form>
                                     <form method="POST">
                                        <br>
                                        <button type="submit" class="w3-button w3-deep-orange w3-round" name="recommended" value="recommended">
                                             <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                                                  Recommended Paper</strong></button>
                                     </form>
                                   </div>
                              </div>

                              <!------------------------------------------------------------------------------------------------------------------------->
                              <div id="author" style="display: none;">
          
                                   <h1>Please enter the name of author you want to search!</h1>
                                   <br>
                                   <!-- You can change the date time in init.js file -->
                                   
                                   <div class="subscribe-form">
                                     <form action="" method="POST">
                                        
                                       <input type="text" name="author" class="form-control" placeholder="Enter the Author Name" required="" style="width: 100%;">
                                        <br>
                                     <div>
                                       <button type="submit" class="w3-button w3-teal w3-round">
                                         <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                                           Search</strong></button>
     
                                        
                                        </div>
                                        
                                     </form>
                                     <form method="POST">
                                        <br>
                                        <button type="submit" class="w3-button w3-deep-orange w3-round" name="recommended" value="recommended">
                                             <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                                                  Recommended Paper</strong></button>
                                     </form>
                                   </div>
                              </div>



                         </div>
                    </div>
               </div>
          </div>
     </section>



     <!-- SCRIPTS -->
     <script>
          function makeKeyWord(){
               document.getElementById('keyword').style.display="inline";
               document.getElementById('url').style.display="none";
               document.getElementById('author').style.display="none";
          }
          function makeURL(){
               document.getElementById('url').style.display="inline";
               document.getElementById('keyword').style.display="none";
               document.getElementById('author').style.display="none";
          }
          function makeAuthors(){
               document.getElementById('keyword').style.display="none";
               document.getElementById('url').style.display="none";
               document.getElementById('author').style.display="inline";
          }

     </script>
     <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
     <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/vegas.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/countdown.js')}}"></script>
     <script src="{{url_for('static',filename='js/init.js')}}"></script>
     <script src="{{url_for('static',filename='js/custom.js')}}"></script>

</body>
</html>