
<html>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/vegas.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->

   <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
    

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style.css')}}">
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{{url_for('static',filename='js/java.js')}}"></script>
   <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
   <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
   <script src="{{url_for('static',filename='js/vegas.min.js')}}"></script>
   <script src="{{url_for('static',filename='js/countdown.js')}}"></script>
   <script src="{{url_for('static',filename='js/init.js')}}"></script>
   <script src="{{url_for('static',filename='js/custom.js')}}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script src="https://raw.githubusercontent.com/rubo77/table2CSV/master/table2CSV.js"></script>

<script src= 
"https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"> 
    </script> 

<head>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/arg-graph.css')}}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .container {
            min-height: 500px;
            margin: 20px;
        }
        #some-element {
          border: 1px solid #ccc;
          display: none;
          font-size: 10px;
          margin-top: 10px;
          padding: 5px;
          text-transform: uppercase;
        }
        #some-div:hover #some-element {
          display: block;
        }
        .panel, .half-panel {
            border: 1px dashed #aaa;
            -ms-border-radius: 10px;
            border-radius: 10px;
            background-color: rgba(250, 250, 250, 0.93);
            overflow: hidden;
            width: 100%;
            overflow-y: scroll;
            float: left;
            margin: 10px;
            height: 93%
            
        }
        textarea {
            margin: 5%;
            width: 90%;
            height: 75%;
        }

        .half-panel {
            width: 22%;
        }

        h3, button, #newItem, #output {
            margin: 20px 20px 5px 20px;
        }

        #output {
            white-space: pre;
            font-family: monospace;
        }

        .arg-Graph_item {
            text-align: center;
            text-transform: uppercase;
            background-image: none;
            padding: 4px 10px;
            border-radius: 3px;
            border: 1px solid transparent;
            color: white;
            border-color: transparent;
            background: #26C6DA;
            background: rgba(rgb(18, 119, 18), green, blue, alpha);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
        }
        .modal {
			  display: none; /* Hidden by default */
			  position: fixed; /* Stay in place */
			  z-index: 1; /* Sit on top */
			  padding-top: 100px; /* Location of the box */
			  left: 0;
			  top: 0;
			  width: 100%; /* Full width */
			  height: 100%; /* Full height */
			  overflow: auto; /* Enable scroll if needed */
			  background-color: rgb(0,0,0); /* Fallback color */
			  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			}

			/* Modal Content */
			.modal-content {
			  background-color: #fefefe;
			  margin: auto;
			  padding: 20px;
			  border: 1px solid #888;
			  width: 80%;
			}

			/* The Close Button */
			.close {
			  color: #aaaaaa;
			  float: right;
			  font-size: 28px;
			  font-weight: bold;
			}

			.close:hover,
			.close:focus {
			  color: #000;
			  text-decoration: none;
			  cursor: pointer;
            }
    </style>
</head>
<body>
    {% set number_of_cit = namespace(value=0) %}
    {% set number_of_ref = namespace(value=0) %}
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
        
        </button>
        <div class="countdown" >
      
          <a class="navbar-brand" style="position: absolute; top: 0; position: absolute; left: 10px;" href="{{ url_for('dashboard_page') }}" >Show Me Related Work</a>
          {% if not current_user.is_authenticated %}
                            <span class="Login" style="font-size: larger;">
                                 
                                 <a style="position: absolute; top: 5px; position: absolute; right: 0;" class="w3-button w3-indigo w3-round" href="{{ url_for('login_page') }}">Login</a>
                            </span>
                            
                       {% else %}
                       
                            <span class="Login" style="font-size: larger;">
                              
                                 <a style="position: absolute; top: 5px; position: absolute; right: 0;"class="w3-button w3-indigo w3-round" href="{{ url_for('home_page') }}">Log Out</a>
                            </span>
                            
                            <span class="Login" style="font-size: larger;">
                              <a style="position: absolute; top: 5px; position: absolute; right: 107px;" class="w3-button w3-indigo w3-round" href="{{ url_for('my_profile_page') }}">Profile</a>
                         </span>
                            
                            {% endif %}
                        
        </div>
      </div>
      </div>
    </nav>

        
        <div id="capture"> 
        <div class="arg-Graph panel" id="arg-Graph">
             <div id="item1" class="arg-Graph_item" style="top: 300px; background:rgb(18, 119, 18)" 
             data-neighbors="{% for row in cursor %}item{{loop.index+1}}{%if loop.index < cursor|length %},{% endif %}{% endfor %}"
             onclick="document.getElementById('iiitem1').style.display='block'">
                Your Article
                <span  class="arg-Graph_connector-handler"></span>
                <span  class="arg-Graph_delete-item"></span>
            </div>
                 {% for row in cursor %}
                 {%if loop.index < 15 %}
                 {%if cursor|length>=0 and cursor|length<=3 %}
                 {% set number_of_cit.value = number_of_cit.value + 1%}
                 <div id="item{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+250}}px;" onclick="document.getElementById('iiitem{{loop.index+1}}').style.display='block'">
                 {%elif cursor|length>=3 and cursor|length<=7 %}
                 {% set number_of_cit.value = number_of_cit.value + 1%}
                 <div id="item{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+150}}px;" onclick="document.getElementById('iiitem{{loop.index+1}}').style.display='block'">
                {%elif cursor|length>=7 and cursor|length<=11 %}
                {% set number_of_cit.value = number_of_cit.value + 1%}
                 <div id="item{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+100}}px;" onclick="document.getElementById('iiitem{{loop.index+1}}').style.display='block'">
                {%else %}
                {% set number_of_cit.value = number_of_cit.value + 1%}
                 <div id="item{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+50}}px;" onclick="document.getElementById('iiitem{{loop.index+1}}').style.display='block'">

                {% endif %} 
                    {{row['title'][0:7]}}
                    <!-- <span id="some-element" style="left: {{loop.index*78}}px; top: 460px;">
                    {{row['title']}}
                  </span> -->

                <span class="arg-Graph_connector-handler"></span>
                <span class="arg-Graph_delete-item"></span>
                </div>
                
                {% endif %} 
                {% endfor %} 

                {% for row in references %}
                 {%if loop.index < 15 %}
                 {%if references|length>=0 and references|length<=3 %}
                 {% set number_of_ref.value = number_of_ref.value + 1%}
                 <div id="reitem{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+250}}px; background:rgb(130, 153, 28)" onclick="document.getElementById('reiiitem{{loop.index+1}}').style.display='block'" data-neighbors="item1"> 
                 {%elif references|length>=3 and references|length<=7 %}
                 {% set number_of_ref.value = number_of_ref.value + 1%}
                 <div id="reitem{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+150}}px; background:rgb(130, 153, 28)" onclick="document.getElementById('reiiitem{{loop.index+1}}').style.display='block'" data-neighbors="item1">
                {%elif references|length>=7 and references|length<=11 %}
                {% set number_of_ref.value = number_of_ref.value + 1%}
                 <div id="reitem{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+100}}px; background:rgb(130, 153, 28)" onclick="document.getElementById('reiiitem{{loop.index+1}}').style.display='block'" data-neighbors="item1">
                {%else %}
                {% set number_of_ref.value = number_of_ref.value + 1%}
                 <div id="reitem{{loop.index+1}}" class="arg-Graph_item" style="left: 10px; top: {{(loop.index-1)*47+50}}px; background:rgb(130, 153, 28)" onclick="document.getElementById('reiiitem{{loop.index+1}}').style.display='block'" data-neighbors="item1">

                {% endif %} 

                {{row['title'][0:7]}}
                    <!-- <span id="some-element" style="left: {{loop.index*78}}px; top: 460px;">
                    {{row['title']}}
                  </span> -->

                <span class="arg-Graph_connector-handler"></span>
                <span class="arg-Graph_delete-item"></span>
                </div>
                {% endif %}
                {% endfor %} 

    </div>
    

       <!-- Trigger/Open The Modal -->

       <div id="iiitem1" class="w3-modal">
        
        <div class="modal-content">
		    <span onclick="document.getElementById('iiitem1').style.display='none'" class="w3-button w3-display-topright">X</span>
		        <h3>TITLE</h3>
                <p>{{your_paper['title']}}</p>
                <h3>Paper Link</h3>
                <a href="{{your_paper_link}}" target="_blank">Click here to go to paper page!</a><br>

                <h3>Download Paper (If link is available)</h3>
                {% if your_paper['download_link'] != 'No downloadable Content' %}
                <a href="{{url_for('static',filename='pdf/your_paper.pdf')}}" target="_blank" >Click to download the paper!</a><br>
                {% else %}
                <b> PLEASE GO TO PAPER LINK TO REQUEST THE PAPER PDF</b>
                {% endif %}

                <form method="POST">
                {% if current_user.is_authenticated %}
                    {% set ns = namespace(found=false) %} 
                    {% for row2 in cursorBookmarks %}
                        {% if row2[1] == your_paper['link']|string %}
                            {% set ns.found = true %}
                        {% endif %}
                    {% endfor %} 
                    
                      {% if ns.found %}
                      <button type="submit" class="w3-button w3-teal w3-round" value="{{your_paper_link}}" name="delete">
                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Delete This Paper From Bookmark </strong></button>
                      {%else%}
                      <button type="submit" class="w3-button w3-teal w3-round" value="{{your_paper_link}}SPLITSPLIT{{your_paper['title']}}" name="add">
                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Add This Paper To Bookmark  </strong></button>
                        {% endif %}
                        
                {% endif %}
                </form>
		  </div>

       </div>
       
		<!-- The Modal -->
        {% for row in cursor %}
        {%if loop.index < 15 %}

		<div id="item1item{{loop.index+1}}" class="w3-modal">

		  <!-- Modal content -->
		  <div class="modal-content">
              
		    <span onclick="document.getElementById('item1item{{loop.index+1}}').style.display='none'" class="w3-button w3-display-topright">X</span>
                <h3>Citation Text (If available)</h3>
                {% for row2 in row['citation_text'] %}

                <p>{{row2|safe}}</p><br>
                {% endfor %} 
                
                <button onclick="stronger('i0item{{loop.index+1}}')" class="w3-button w3-teal w3-round">
                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Make Edge Strong</strong></button>
                <button onclick="weaker('i0item{{loop.index+1}}')" class="w3-button w3-teal w3-round">
                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Make Edge Weak</strong></button>
		  </div>
          

		</div>
                
                {% endif %} 
                {% endfor %}

        {% for row in references %}
        {%if loop.index < 15 %}

        <div id="reitem{{loop.index+1}}item1" class="w3-modal">

            <!-- Modal content -->
            <div class="modal-content">
                
            <span onclick="document.getElementById('reitem{{loop.index+1}}item1').style.display='none'" class="w3-button w3-display-topright">X</span>
                
                <button onclick="stronger('i{{number_of_cit.value+loop.index}}item1')" class="w3-button w3-teal w3-round">
                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Make Edge Strong</strong></button>
                <button onclick="weaker('i{{number_of_cit.value+loop.index}}item1')" class="w3-button w3-teal w3-round">
                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Make Edge Weak</strong></button>
            </div>
            

        </div>
                
                {% endif %} 
                {% endfor %} 
        
        <!-------------------------------------->
        {% for row in cursor %}
        {%if loop.index < 15 %}

		<div id="iiitem{{loop.index+1}}" class="w3-modal">

		  <!-- Modal content -->
		  <div class="modal-content">
              
		    <span onclick="document.getElementById('iiitem{{loop.index+1}}').style.display='none'" class="w3-button w3-display-topright">X</span>
		    <h3>TITLE</h3>
                <p>{{row['title']}}</p>
                <h3>Paper Link</h3>
                <a href="{{row['link']}}" target="_blank">Click here to go to paper page!</a><br>
                <form method="POST">
                <h3>Download Paper (If link is available)</h3>
                {% if row['link'] == processDownloadCit %}
                <a href="{{url_for('static',filename='pdf/cit_paper.pdf')}}" target="_blank" >Click to download the paper!</a><br>
                {% else %}
                <button type="submit" class="w3-button w3-red w3-round" value="{{row['link']}}" name="download_cit">
                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                    Show The Download Link </strong></button>
                   <br> 
                {% endif %}
                
                {% if current_user.is_authenticated %}
                    {% set ns = namespace(found=false) %} 
                    {% for row2 in cursorBookmarks %}
                        {% if row2[1] == row['link']|string %}
                            {% set ns.found = true %}
                        {% endif %}
                    {% endfor %} 
                    
                      {% if ns.found %}
                      <button type="submit" class="w3-button w3-teal w3-round" value="{{row['link']}}" name="delete">
                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Delete This Paper From Bookmark </strong></button>
                      {%else%}
                      <button type="submit" class="w3-button w3-teal w3-round" value="{{row['link']}}SPLITSPLIT{{row['title']}}" name="add">
                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Add This Paper To Bookmark  </strong></button>
                        {% endif %}

                {% endif %}
                </form>
                
		  </div>
          

		</div>
                
                {% endif %} 
                {% endfor %} 


        {% for row in references %}
        {%if loop.index < 15 %}

        <div id="reiiitem{{loop.index+1}}" class="w3-modal">

            <!-- Modal content -->
            <div class="modal-content">
                
            <span onclick="document.getElementById('reiiitem{{loop.index+1}}').style.display='none'" class="w3-button w3-display-topright">X</span>
            <h3>TITLE</h3>
                <p>{{row['title']}}</p>
                <h3>Paper Link</h3>
                <a href="{{row['link']}}" target="_blank">Click here to go to paper page!</a><br>
                <h3>Download Paper (If link is available)</h3>
                <form method="POST">
                {% if row['link'] == processDownloadRef %}
                <a href="{{url_for('static',filename='pdf/ref_paper.pdf')}}" target="_blank" >Click to download the paper!</a><br>
                {% else %}
                <button type="submit" class="w3-button w3-red w3-round" value="{{row['link']}}" name="download_ref">
                    <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                    Show The Download Link </strong></button>
                   <br> 
                {% endif %}

                
                {% if current_user.is_authenticated %}
                    {% set ns = namespace(found=false) %} 
                    {% for row2 in cursorBookmarks %}
                        {% if row2[1] == row['link']|string %}
                            {% set ns.found = true %}
                        {% endif %}
                    {% endfor %} 
                    
                        {% if ns.found %}
                        <button type="submit" class="w3-button w3-teal w3-round" value="{{row['link']}}" name="delete">
                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Delete This Paper From Bookmark </strong></button>
                        {%else%}
                        <button type="submit" class="w3-button w3-teal w3-round" value="{{row['link']}}SPLITSPLIT{{row['title']}}" name="add">
                        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> 
                        Add This Paper To Bookmark  </strong></button>
                        {% endif %}

                {% endif %}
                </form>
                
            </div>
            

        </div>
                
                {% endif %} 
                {% endfor %} 



	<!----   ---------------------------------------------------------------->

    <div id="howtowork1" class="w3-modal">

          <!-- Modal content -->
          <div class="modal-content">
              
            <span onclick="document.getElementById('howtowork1').style.display='none'" class="w3-button w3-display-topright">X</span>
                <h3>How to Work ?</h3>

                <img src="{{url_for('static',filename='images/htw.png')}}" >  
                <br>
                <b>
                <ul>
              <li>  <h7> Black arrow means "strong relationship" </h7> <br> </li> 
              <li>  <h7> Red arrow means "weak relationship" </h7>  <br> </li>
               
              <li>   <h7> Click on the citation edges, shows citation text and relationship buttons.</h7><br> </li>
              <li> <h7> Click on the references edges, shows only relationship buttons.</h7><br> </li>
              <li>  <h7> Click on the nodes, shows title, paper link, download link (if available).</h7><br> </li>
                </ul>   
                </b> 
            
          </div>
          

        </div>

    <!----   ---------------------------------------------------------------->

                <div id="buttons" style="height: 1000px;">
                <a id="howtowork" class="w3-button w3-lime w3-round" onclick="document.getElementById('howtowork1').style.display='block'">How To Work</a> 
                <a class="w3-button w3-purple w3-round" onclick="scrollDown()">&#8659; Click To See Download Options &#8659;</a>
                
                <div id="downloads" style="display: none;">
                <br><br>
                <a id="savebutton" class="w3-button w3-green w3-round" onclick="takeshot()">Generate Screenshot</a> 
                <br><br>
                <a id="jsonCitations" class="w3-button w3-red w3-round">Download Citations(JSON)</a> 
                <a id="csvCitations" class="w3-button w3-teal w3-round">Download Citations(CSV)</a>  
               
                <br><br>
                <a id="jsonReferences" class="w3-button w3-red w3-round">Download References(JSON)</a> 
                <a id="csvReferences" class="w3-button w3-teal w3-round">Download References(CSV)</a>  
                
                <br><br>
                <a id="jsonPaper" class="w3-button w3-red w3-round">Download Paper(JSON)</a> 
                <a id="csvPaper" class="w3-button w3-teal w3-round">Download Paper(CSV)</a>  
            </div>
                
            </div>
                <!---<a class="w3-button w3-indigo w3-round" href="#" onclick="download_table_as_csv('table1');">Download Citations as CSV</a> --->
                <table id="table1" style="background-color: wheat; display: none;"> 
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Citation Text</th>
                            <th>Link</th>
                            <th>Full Text Available</th>
                        </tr>
                    </thead>
                    {% for row in cursor %}
                    <tbody>
                        <tr> 
                            <td>{{row['title']}}</td>
                            <td>{{row['citation_text']}}</td>
                            <td>{{row['link']}}</td>
                            <td>{{row['full_text']}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}  

                </table>

                <table id="table2" style="background-color: wheat; display: none;"> 
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Full Text Available</th>
                        </tr>
                    </thead>
                    {% for row in references %}
                    <tbody>
                        <tr> 
                            <td>{{row['title']}}</td>
                            <td>{{row['link']}}</td>
                            <td>{{row['full_text']}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}  

                </table>

                <table id="table3" style="background-color: wheat; display: none;"> 
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Download Link</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td>{{your_paper['title']}}</td>
                            <td>{{your_paper_link}}</td>
                            <td>{{your_paper['download_link']}}</td>
                        </tr>
                    </tbody>
                </table>

        </div>
            <div id="output" style="display: none;"></div> 
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="{{url_for('static',filename='js/arg-graph.js')}}" type="text/javascript"></script>
    <script>

        var argGraph;
        $(function () {
            argGraph = $('.arg-Graph').ArgGraph({
                'onGraphChange': function () {
                    var json = argGraph.exportJson();
                    $("#output").html(document.createTextNode(json));
                }
            });

            $('#import').on('click',
                function() {
                    var json = $("#input").html();
                    argGraph.importJson(json);
                });

            var json = argGraph.exportJson();
            $("#output").html(document.createTextNode(json));
        });
        function stronger(id){
            alert("You selected edge as strong");
            document.getElementById(id).setAttribute('stroke', 'Black');
        }

        function weaker(id){
            alert("You selected edge as weak");
            document.getElementById(id).setAttribute('stroke', 'Red');
        }

        var previous = 0;
        
        window.setInterval(function center(){
            if (previous != document.documentElement.clientWidth){
                var d = document.getElementById("item1");
                d.style.left = window.innerWidth *0.4 ;
                var i;
                for (i = 2; i < {{number_of_cit.value}}+2; i++) {
                    var itemNameCit = "item" + i;
                    //var itemNameRef = "reitem" + i
                    //var pathName = "iitem" + i;
                    document.getElementById(itemNameCit).style.left = document.documentElement.clientWidth / 10;
                    //document.getElementById(itemNameRef).style.left = document.documentElement.clientWidth * 0.7;
                }
                for (i = 2; i < {{number_of_ref.value}}+2; i++) {
                    var itemNameRef = "reitem" + i
                    document.getElementById(itemNameRef).style.left = document.documentElement.clientWidth * 0.7;
                }
            }
            previous = document.documentElement.clientWidth;
            
        },1)

        
        function takeshot() { 
            
            document.getElementById("buttons").style.visibility = "hidden";
            let div = 
                document.getElementById('capture'); 
  
            // Use the html2canvas 
            // function to take a screenshot 
            // and append it 
            // to the output div 
            html2canvas(div).then( 
                function (canvas) { 
                    document 
                    .getElementById('output') 
                    .appendChild(canvas); 
                    canvas.toBlob(function(blob){
                        
                        saveAs(blob, 'graph.png'); // this line should be here
                    });
                    
                })
                document.getElementById('output').style.display="none";
                document.getElementById("buttons").style.visibility = "visible";
        } 
        
    </script>
    
    

    <script src="{{url_for('static',filename='js/tableHTMLExport.js')}}"></script>
    <script>


        $('#jsonCitations').on('click',function(){
          $("#table1").tableHTMLExport({type:'json',filename:'Citations.json'});
        })
        $('#csvCitations').on('click',function(){
          $("#table1").tableHTMLExport({type:'csv',filename:'Citations.csv'});
        })
        
        $('#jsonReferences').on('click',function(){
          $("#table2").tableHTMLExport({type:'json',filename:'References.json'});
        })
        $('#csvReferences').on('click',function(){
          $("#table2").tableHTMLExport({type:'csv',filename:'References.csv'});
        })
        
        $('#jsonPaper').on('click',function(){
          $("#table3").tableHTMLExport({type:'json',filename:'Paper.json'});
        })
        $('#csvPaper').on('click',function(){
          $("#table3").tableHTMLExport({type:'csv',filename:'Paper.csv'});
        })
        
        function scrollDown(){
            if(document.getElementById('downloads').style.display == "inline"){
                document.getElementById('downloads').style.display="none";
                $("html, body").animate({ scrollTop: -500 }, 500);
            }
            else{
                $("html, body").animate({ scrollTop: 500 }, 500);
                document.getElementById('downloads').style.display="inline";
            }
        }

        </script>
        
        
     
</body>

</html>


